h1 {
display: flex;
justify-content: center;
margin: auto;
font-family: 'Galada', cursive;
}
header {
 padding-top: 10px;
 padding-bottom: 20px;
 background-color: #0E1C36;
 color: #D7F9FF;
}
h3 {
margin: auto;
margin-top: 5px;
display: flex;
justify-content: center;
}

img[alt="Logo"] {
    position: relative;
    top: 20px;
    left: 20px;
}

main {
    text-align: center;
}
body {
    margin: 0;
    background-color: #F9FBF2;
    color: #3466c2;
}
#cone {
    width: 400px;
    height: 400px;
}
#cup {
    width: 400px;
}
.next {
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background-color: #FFEDE1;
    border-color: #3466c2;
    color: #3466c2;
    margin: 20px;
}
.next:hover{
background-color: #3466c2;
color: #FFEDE1;
}
#fruit, #milk, #bullshit {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}
#fruit {
    background-color: #9acd3222;
}
#milk {
    background-color: #f5deb322;
}
#bullshit {
    background-color: #ee82ee22;
}

.flavor {
    margin: 20px;
}
button {
    border-radius: 10px;
    border-color: #3466c2;
    background-color: #FFEDE1;
}
button:hover{
    background-color: #3466c2;
    color: #FFEDE1;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
     visibility: visible;
}
.parallel {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.parallelOrders {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.flavor>img {
    width: 80px;
}
.flavor>p {
    margin-top: 0px;
}
.flavor {
    text-align: center;
}
.sauce {
    margin: 20px;
}
.sauce>img {
    width: 80px;
}
.sauce>p {
    margin-top: 0px;
}
#sauces {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 250px;
}
input[type=text] {
    margin-top: 40px;
    width: 300px;
}
input[value="Place Order"] {
    margin-top: 40px;
}
textarea[placeholder="Comment"] {
    width: 300px;
    height: 100px;
    margin-top: 40px;
}
#preview {
    display: flex;
    align-items: center;   
    width: 400px;
    height: 500px;
    flex-direction: column;
}
.Flavour {
    height: 150px;
    width: 150px;
    margin-bottom: -30px;
}
.invis {
    display: none;
}
#flavorsInvis {
    display: none;
}
#flavors {
    height: 500px;
    width: 500px;
    overflow: scroll;
}
#chooseVesselInvis {
    display: none;
}
 /*das jeweilige Styling für die Kugeln */
#Scoop1 {
    z-index: 1;
    position: absolute  ;
    bottom: 381px;
}
#Scoop2 {
    z-index: 2;
    position: absolute;
    bottom: 460px;
}
#Scoop3 {
    z-index: 3;
    position: absolute;
    bottom: 530px;
}
img[alt = "Cone"] {
    height: 400px;
    width: 300px;
    position: absolute;
    top: 305px;
}
img[alt = "Cup"] {
    height: 400px;
    width: 300px;
    position: absolute;
    top: 250px;
    z-index: 3;
}
#Sauce1F {
    height: 150px;
    z-index: 4;
    position: absolute;
    bottom: 350px;
}
#Sauce2F {
    height: 150px;
    z-index: 4;
    position: absolute;
    bottom: 430px;
}
#Sauce3F {
    height: 150px;
    z-index: 4;
    position: absolute;
    bottom: 500px;
}
img[alt = "out of stock"] {
    width: 100px;
}
#toppings {
    width: 220px;
    display: flex;
    flex-flow: row wrap;
}
@media screen and (max-width: 600px) {
    img[alt = "Cone"] {
    height: 300px;
    width: 225px;
    position: absolute;
    top: 400px;
    }
    img[alt = "Cup"] {
        height: 300px;
        width: 225px;
        position: absolute;
        top: 360px;
        z-index: 3;
    }
    #Scoop1 {
        z-index: 1;
        position: absolute;
        bottom: 222px;
        height: 112.5px;
        width: 112.5px;
    }
    #Scoop2 {
        z-index: 2;
        position: absolute;
        bottom: 280px;
        height: 112.5px;
        width: 112.5px;
    }
    #Scoop3 {
        z-index: 3;
        position: absolute;
        bottom: 335px;
        height: 112.5px;
        width: 112.5px;
    }
    #sauces {
        overflow: scroll;
        height: 500px;
    }
    #Sauce1F {
        height: 112.5px;
        z-index: 4;
        position: absolute;
        bottom: 195px;
    }
    #Sauce2F {
        height: 112.5px;
        z-index: 4;
        position: absolute;
        bottom: 250px;
    }
    #Sauce3F {
        height: 112.5px;
        z-index: 4;
        position: absolute;
        bottom: 305px;
    }
    #toppings {
        overflow: scroll;
        height: 500px;
    }
    .parallelOrders {
        display: block;
    }

}
@media screen and (min-width:601px) and (max-width: 1024) {
    #Scoop1 {
        z-index: 1;
        position: absolute;
        bottom: 295px;
    
    }
    #Scoop2 {
        z-index: 2;
        position: absolute;
        bottom: 360px;
    }
    #Scoop3 {
        z-index: 3;
        position: absolute;
        bottom: 420px;
    }
    #Sauce1F {
        height: 112.5px;
        z-index: 4;
        position: absolute;
        bottom: 195px;
    }
    #Sauce2F {
        height: 112.5px;
        z-index: 4;
        position: absolute;
        bottom: 250px;
    }
    #Sauce3F {
        z-index: 4;
        position: absolute;
        bottom: 390px;
    }
    .parallelOrders {
        display: flex;
        justify-content: space-around;
    }
}