                        .invis{
                            display: none;
                        }
                        #weidershoppn{
                            text-decoration: none;
                            color: white;
                            display: flex;
                            justify-content: center;
                            
                        }
                        #warenkorbH1{
                            display: flex;
                            left: auto;
                            margin-left: auto;
                            margin-top: 0px;
                            font-size: 2em;
                            margin-bottom: auto;
                        }
                        h1 {
                            display: inline-flex;
                            justify-content: center;
                            margin-top: 0px;
                            font-size: 1.3em;
                            position: relative;
                            margin-left: 65px;
                            top: 12px;
                        }

                        img[alt="Logo"] {
                            width: 60px;
                            height: 50px;
                        }
                        span{
                            position: absolute;
                            right: 100px;
                            background-color: white;
                            border-radius: 10px;
                            border: solid red 1px;
                            z-index: 1;
                            padding: 0 3px 0 3px;
                            margin-top: 10px;
                            top: 120px;
                            right: 68px;
                            font-size: smaller;
                        }
                        #reset{
                            position: absolute;
                            left: 20px;
                            top: 120px;
                        }

                        h2 {
                            margin-top: 40px;
                            text-align: center;
                        }

                        body {
                            width: 100%;
                            margin: 0px;
                        }

                        .kategorie {
                            display: inline;
                            position: relative;
                            bottom: 14px;
                            padding-top: 3px;
                        }

                        nav {
                            background-color: crimson;
                            width: 100%;
                        }

                        #Iconcontainer {
                            display: flex;
                            justify-content: space-between;
                            height: 50px;
                        }

                        .icons {
                            margin-top: 20px;
                            display: inline-flex;
                            justify-content: space-around;
                        }

                        #Iconcontainer>img {
                            margin-top: 25px;
                            position: relative;
                            bottom: 70px;
                        }

                        .icons>img {
                            border: solid black 1px;
                            width: 50px;
                        }
                        a>img {
                            border: solid black 1px;
                            width: 50px;
                            height: 28px;
                        }

                        .Produkte img {
                            width: 300px;
                            height: 300px;
                        }

                        .product {
                            border: 1px black solid;
                            margin-top: 15px;
                        }

                        .Produkte {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 10px;
                        }

                        button {
                            display: inline;
                            position: relative;
                            left: 40%;
                            /*margin-bottom: 5px;
                            margin-top: 5px;*/
                        }

                        .product p {
                            text-align: center;
                        }

                        #Iconcontainer a {
                            text-decoration: none;
                        }

                        footer {
                            display: flex;
                            justify-content: center;
                        }

                        footer a {
                            display: inline;
                            margin: 12px;
                            text-decoration: none;
                            color: crimson;
                            padding: 4px;
                        }

                        .breakpoint2 {
                            display: none;
                        }

                        @media screen and (min-width:601px) {
                            h1 {
                                font-size: 1.8em;
                                position: relative;
                                left: 15%;
                                margin-left: 4%;
                            }
                            h2 {
                                text-align: left;
                                flex-flow: nowrap;
                                flex-basis: 100%;
                                margin-left: 6%;
                            }
                            #reset{
                                top: 95px;
                            }
                            img[alt="Logo"] {
                                width: 100px;
                                height: 60px;
                            }
                            body {
                                width: 100%;
                            }
                            .kategorie {
                                left: 60px;
                                position: relative;
                                top: 2px;
                            }
                            #Iconcontainer>img {
                                margin-top: 0em;
                                position: relative;
                                bottom: 60px;
                            }
                            .Produkte img {
                                height: 300px;
                                width: 100%;
                            }
                            .product {
                                align-content: space-between;
                                width: 40%;
                                height: 500px;
                            }
                            .Produkte {
                                flex-flow: row wrap;
                                justify-content: space-evenly;
                                margin-top: auto;
                            }
                            button {
                                position: relative;
                                left: 38%;
                                padding: 5px 15px;
                            }
                            .breakpoint {
                                display: none;
                            }
                            .breakpoint2 {
                                display: block;
                            }
                        }

                        @media screen and (min-width:1025px) {
                            h1 {
                                font-size: 1.8em;
                                position: relative;
                                left: 120px;
                                top: 12px;
                            }
                            #reset{
                                top: 60px;
                            }
                            h2 {
                                margin-left: 4%;
                                margin-top: 5%;
                            }
                            span{
                                top: 88px;
                            }   
                             body {
                                width: 100%;
                            }
                            #Iconcontainer>img {
                                position: relative;
                                bottom: 60px;
                            }
                            .product {
                                width: 20%;
                                height: 520px;
                            }
                            .Produkte {
                                margin-top: auto;
                            }
                            button {
                                left: 0%;
                                width: 100%;
                            }
                            .breakpoint {
                                display: none;
                            }
                            .breakpoint2 {
                                display: none;
                            }
                        }