                        h1 {
                            display: inline-flex;
                            justify-content: center;
                            margin-top: 0px;
                            font-size: 1.7em;
                            position: relative;
                            margin-left: 22%;
                            top: 12px;
                        }

                        img [alt="Logo"] {
                            width: 30px;
                        }

                        h2 {
                            margin-top: 40px;
                            text-align: center;
                        }

                        body {
                            width: 100%;
                            margin: 0px;
                        }

                        .kategorie {
                            display: inline;
                            position: relative;
                            top: 5px;
                            padding-top: 3px;
                        }

                        nav {
                            background-color: crimson;
                            width: 100%;
                        }

                        #Iconcontainer {
                            display: flex;
                            justify-content: space-between;
                        }

                        .icons {
                            margin-top: 20px;
                        }

                        #Iconcontainer>img {
                            position: absolute;
                            bottom: 90%;
                        
                        }

                        .Produkte img {
                            width: 300px;
                            height: 300px;
                        }

                        .product {
                            border: 1px black solid;
                            margin-top: 15px;
                        }

                        .Produkte {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 60px;
                        }

                        button {
                            display: inline;
                            position: relative;
                            left: 40%;
                            margin-bottom: 5px;
                            margin-top: 5px;
                            /*margin-top: 20px;
                            margin-bottom: 20px;
                             width: 250px;
                            height: 30px;*/
                        }

                        .product p {
                            text-align: center;
                        }

                        #Iconcontainer a {
                            text-decoration: none;
                        }

                        footer {
                            display: flex;
                            justify-content: center;
                        }

                        footer a {
                            display: inline;
                            margin: 12px;
                            text-decoration: none;
                            color: crimson;
                            padding: 4px;
                        }
                        .breakpoint2{
                            display: none;
                        }

                        @media screen and (min-width:601px) {
                            h1 {
                                font-size: 1.8em;
                                position: relative;
                                left: 15%;
                                margin-left: 4%;
                            }
                            h2 {
                                text-align: left;
                                flex-flow: nowrap;
                                flex-basis: 100%;
                                margin-left: 6%;
                            }
                            body {
                                width: 100%;
                            }
                            .kategorie {
                                left: 60px;
                            }
                            nav {}
                            #Iconcontainer {}
                            .icons {}
                            #Iconcontainer>img {}
                            .Produkte img {
                                height: 300px;
                                width: 100%;
                            }
                            .product {
                                align-content: space-between;
                                width: 40%;
                                height: 500px;
                            }
                            .Produkte {
                                flex-flow: row wrap;
                                justify-content: space-evenly;
                                margin-top: auto;
                            }
                            button {
                                position: relative;
                                left: 38%;
                                padding: 5px 15px;
                            }
                            .product p {}
                            #Iconcontainer a {}
                            #Iconcontainer+img {}
                            #Icons~img {}
                            .breakpoint {
                                display: none;
                            }
                            .breakpoint2{
                                display: block;
                            }
                            }

                        @media screen and (min-width:1025px) {
                            h1 {
                                font-size: 1.8em;
                                position: relative;
                                left: 120px;
                                top: 12px;

                            }
                            h2 {
                                margin-left: 4%;
                                margin-top: 5%;
                            }
                            body {
                                width: 100%;
                            }
                            .kategorie {
                                
                            }
                            nav {}
                            #Iconcontainer {}
                            .icons {}
                            #Iconcontainer>img {
                                position: relative;
                                bottom: 60px;
                            }
                            .Produkte img {}
                            .product {
                                width: 20%;
                                height: 520px;
                            }
                            .Produkte {
                                margin-top: auto;
                            }
                            button {
                                left: 0%;
                                width: 100%;
                            }
                            .product p {}
                            #Iconcontainer a {}
                            .breakpoint {
                                display: none;
                            }
                            .breakpoint2{
                                display: none;
                            }
                        }